build/
install/
log/
docs/build/
harper_description/build/
harper_description/install/
harper_description/log/

*.bag
*.db3
*.mcap


__pycache__/
*.py[cod]
*$py.class
*.so
.Python

*.egg
*.egg-info/
.eggs/
dist/
pip-wheel-metadata/
*.whl


.venv/
venv/
env/
ENV/


.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.hypothesis/


node_modules/
website/node_modules/

.docusaurus/
website/.docusaurus/
website/build/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json

*.o
*.a
*.obj
*.exe
*.out
*.app
*.dll
*.dylib
*.lib


.vscode/
!.vscode/extensions.json
!.vscode/settings.json.example

.idea/
*.iml
*.ipr
*.iws

*.swp
*.swo
*~
.project
.classpath
.settings/


.DS_Store
.AppleDouble
.LSOverride
._*

Thumbs.db
ehthumbs.db
Desktop.ini

.directory


.env
.env.*
!.env.example

*.pem
*.key
credentials.json
secrets.json

*.log
*.tmp
*.temp
*.bak
*.orig

.cache/
tmp/
temp/


*.f3d.lock
*.f3z.lock
*~lock*
*.fcstd1

*.3mf.bak


.gazebo/

*.tar.gz
*.zip
*.7z

.ipynb_checkpoints/

.terraform/
*.tfstate
*.tfstate.*
