<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="harper_macro">

  <xacro:macro name="harper" params="prefix">

    <!-- Links -->
    <link name="${prefix}base_link">
      <inertial>
        <origin xyz="0.150000 0.050800 -0.517988" rpy="0 0 0"/>
        <mass value="7.588066"/>
        <inertia ixx="9.028635e-01" ixy="-2.012279e-16" ixz="-7.038814e-13"
                 iyy="9.781554e-01" iyz="-1.942890e-16" izz="8.677141e-02"/>
      </inertial>
      <visual>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://harper_description/meshes/harper/base_link.dae" scale="1 1 1"/>
        </geometry>
        <material name="Aluminum"/>
      </visual>
      <collision>
        <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://harper_description/meshes/harper/base_link_collision.stl" scale="0.01 0.01 0.01"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>
